/* GLOBAL STYLES */
html, body {
    width: 100%;
    height: 100%;
    background-color: #05003a;
    font-size: 16px;
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#sidebar {
    position: fixed;
    top:0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #05003a;
    color: #fffed4;
}


.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hide {display:none;}

.logo {
    font-weight: bold;
    font-size: 1.7em;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.about {
    margin: 20px;
}

#sidebar a:link {color:#fffed4;}
#sidebar a:visited {color:#fffed4;}
#sidebar a:hover {color:#fffed4;}
#sidebar a:active {color:#fffed4;}

.footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer li {
    line-height: 1.5em;
}

/*LAYOUT STYLES*/
.clear {clear:both;}
.column {float:left;}
.column.one {width:8.33%}
.column.two {width:16.66%}
.column.three {width:25%}
.column.four {width:33.33%}
.column.five {width:41.66%}
.column.six {width:50%}
.column.seven {width:58.33%}
.column.eight {width:66.66%}
.column.nine {width:75%}
.column.ten {width:83.33%}
.column.eleven {width:91.66%}
.column.twelve {width:100%}

/* CONTENT STYLES */
#content {
    min-height: 100%;
    margin-left: 20%;
    background-color: #adff2f;
}

.map-stations {width: 100%; height: 500px;}
.map-compare {width: 100%; height: 400px}

.about-author {padding: 0 0 0 20px;}
.img-author {width: 100%; margin-bottom: 10px;}





h1 {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}


.content-wrap {
    width: 80%;
    min-height: 100%;
    padding: 20px 20px 80px;
    background-color: rgb(184, 186, 199);
}

.weather-wrap {
    background-color: rgba(255, 255, 255, 0.7);
}
.graph {
    width: 80% !important;
    float:left;
}
.legend {
    width: 18%;
    padding: 1%;
    float: left;
    height: 320px;
    margin-left: 2%;
}

.box {
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    border: 1px dashed rgb(179, 179, 179);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.seasons {
    padding: 5px;
    width: 90%;
    margin: 20px 0;
}

.tabs-header {
    margin-bottom: 5px;
}

.tabs-header .tab {
    display: inline-block;
    line-height: 1.5;
    padding: 0 17px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.tabs-header .tab.active {
    border-bottom: 3px solid white;
}


.label {
    padding: 0 10px;
    line-height: 1.5;
    font-weight: bold;
}

.station-1 {
    color: #00CC00;
}
.station-2{
    color: #FF3300;
}

.station-comparison {
    line-height: 1.5;
    font-size: 1.2em;
}

.mini {font-size: 0.7em; font-weight: normal; font-style: italic;}