{% extends 'base.html' %}

{% block title %}
    About WeatherPal
{% endblock title %}

{% block style %}
{% endblock style %}

{% block instructions %}
{% endblock instructions %}

{% block content %}
    <div class="content-wrap">

        <div class="column eight">
            <h3>About WeatherPal</h3>
            <p>
                While planning a move from Florida to Boulder, CO, I ran into a snag - people said the weather in
                Colorado was "schizophrenic", "weird", or "unpredictable", but outside of these vague generalizations
                they couldn't say more.  "You'll have to experience it for yourself."
            </p>
            <p>
                What?  And go <em>outside</em>?
            </p>
            <p>
                I found NOAA's QCLCD dataset, got to work, and quickly found myself looking at a simple line graph of
                a years' worth of hourly temperature readings from Denver International Airport. And that's how WeatherPal
                got its start.
            </p>
            <p>
                WeatherPal is still a work in progress.<br> International weather stations, sadly, aren't yet included.
                The station comparison could use a bit more of a human touch. The prevailing wind calculation is totally
                wrong.  But WeatherPal is probably good enough to be a useful resource for some folks, so it's online.
                I hope you find it useful.
            </p>
            <p>
                If you have comments or suggestions, feel free to <a href="mailto:david@catto5k.com">contact me</a>. <br>
                If your company is hiring in the Denver/Boulder area, feel free to <a href="mailto:david@catto5k.com">hire me</a>.
            </p>


        </div>
        <div class="column four">
            <div class="about-author">
                <h3>About the author.</h3>
                <img class="img-author" src="{{ STATIC_URL }}img/author.png">
                <strong>David Arbuckle</strong> is a software developer located near Boulder, CO.
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
