<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block style %}

    {% endblock style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/noaa-web.css"
</head>
<body>
    <section id="sidebar">
        <a href="{{ 'station'|url() }}" class="logo">WeatherPal</a>
        <div class="about">
            <p>
                Have you ever been planning a vacation to some exotic destination, and, far in advance of your leaving,
                found yourself wondering <em>"what the heck do I wear in New Jersey in September?"</em>
            </p>
            <p>
                Wonder no longer.  Weather Pal makes it easy to compare weather from any two locations in the US.
            </p>
            <p class="instructions">
                {% block instructions %}

                {% endblock instructions %}
            </p>
        </div>

        <ul class="footer unstyled">
            <li><a href="{{ "about"|url() }}">About WeatherPal</a></li>
            <li> All of WeatherPal's data is derived from the NOAA's QCLCD records
                and can be <a href="http://cdo.ncdc.noaa.gov/qclcd/QCLCD">accessed freely here</a>.
            </li>
            <li class="mini">
                Copyright &copy; 2013 <a href="mailto:david@catto5k.com">David Arbuckle</a>
            </li>
        </ul>
    </section>
    <section id="content">
        {% block content %}

        {% endblock content %}
    </section>

    <script type="mango/template" id="TemplateLegend">
        {% raw %}
            <strong>Legend:</strong>
            <p>
                {{ date|date:"N d, Y" }}
            </p>
            {% for station in stations %}
                <ul class="unstyled">
                    <li><strong class="station-{{ forloop.counter }}">{{ station.name }}</strong></li>
                    <li>High: {{ station.high }}F</li>
                    <li>Low: {{ station.low }}F</li>
                    <li>Avg: {{ station.avg }}F</li>
                </ul>
            {% endfor %}
        {% endraw %}
    </script>

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/mango.js"></script>
    <script src="{{ STATIC_URL }}js/dygraphs-combined.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFbpJc0RjsSyQ9Mucdio3PvK-4w-SK8j0&sensor=false"></script>

    <script>
        var legendTemplate = mango.compile(document.getElementById('TemplateLegend').innerHTML);
        var blockRedraw = false;
        var initialized = false;

        function drawLegend (e, date, pts, row) {
            var i,
                c_raw = graph.rawData_.length;
            if (!graph.dataHash_) {
                graph.dataHash_ = {};
                for (i = 0; i < c_raw; i ++) {
                    graph.dataHash_[graph.rawData_[i][0]] = i;
                }
            }

            var data = graph.rawData_[graph.dataHash_[date]],
                c_series = pts.length,
                template_data = {
                    date: date,
                    stations: []
                };

            for (i=0; i < c_series; i ++) {
                template_data.stations.push({
                    name: pts[i].name,
                    high: data[i+1][0],
                    avg: data[i+1][1],
                    low: data[i+1][2]
                });
            }

            document.getElementById('WeatherLegend').innerHTML = legendTemplate(template_data);
        }
    </script>


    <script>
        // quick-and-dirty tab behavior handler for seasonal tabbed interface.
        $('.tabs-parent').on('click', '.tab', function(event){
            var $this = $(this),
                $tabs = $this.parent().siblings('.tab-content'),
                $selectedTab = $this.closest('.tabs-parent').find('.tab-' + $this.text());

            x = $this;

            if ($this.hasClass('active')) {
                return;
            }

            // toggle tab class
            $this.addClass('active');
            $this.siblings().removeClass('active');

            // toggle content visibility
            $tabs.slideUp();
            $selectedTab.slideDown();
        });
    </script>

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
