{% extends 'base.html' %}

{% block title %}
    NOAA Data Comparing {% for station in stations %}{{ station.name }}{% if not loop.last %} to {% endif %}{% endfor %}
{% endblock title %}

{% block style %}

{% endblock style %}

{% block instructions %}
    You're looking at historical weather data comparing
    {% for station in stations %}
        <a href="{{ "weather"|url(station.id) }}">{{ station.location }}</a> in {{ station.name }}{% if station.state %}, {{ station.state }}{% endif %}
        {% if not loop.last %} with {% else %}.{% endif %}
    {% endfor %}
{% endblock instructions %}

{% block content %}
    <div class="content-wrap">
        <h1 class="section-title">Comparing {% for station in stations %}{{ station.name }}{% if not loop.last %} and {% endif %}{% endfor %}</h1>


        {% include 'includes/chart.html' %}
        {% include 'includes/advertisement.html' %}

        <h3>Station Comparison:</h3>
        <ul class="unstyled station-comparison">
        {% for metric, is_greater in comparison.items() %}
            <li>
            {% if metric == 'temp_dry' %}
                {{ stations[0].name }} is {% if is_greater %}hotter{% else %}colder{% endif %} than {{ stations[1].name }}.
            {% elif metric == 'precipitation_days' %}
                {{ stations[0].name }} has {% if is_greater %}more{% else %}fewer{% endif %} rainy days than {{ stations[1].name }}.
            {% elif metric == 'precipitation' %}
                {{ stations[0].name }} has {% if is_greater %}more{% else %}less{% endif %} total rainfall than {{ stations[1].name }}.
            {% elif metric == 'snow_days' %}
                {{ stations[0].name }} has {% if is_greater %}more{% else %}fewer{% endif %} snow days than {{ stations[1].name }}.
            {% elif metric == 'humidity' %}
                {{ stations[0].name }} is {% if is_greater %}more{% else %}less{% endif %} humid than {{ stations[1].name }}.
            {% elif metric == 'wind_speed' %}
                {{ stations[0].name }} is {% if is_greater %}windier{% else %}less windy{% endif %} than {{ stations[1].name }}.
            {% endif %}
            </li>
        {% endfor %}
        </ul>

        <h3>Individual Station Data:</h3>
        {% for station in stations %}
            <div class="comparison-wrap column six">
                {% include 'includes/station-data.html' %}
                {% with station.seasons as seasons %}
                    {% include 'includes/station-seasons.html' %}
                {% endwith %}
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        var graph = new Dygraph(
                document.getElementById("Weather"),
                "{{ 'weather-compare-csv'|url(stations[0].id, stations[1].id) }}",
                {
                    rollPeriod: 1,
                    showRoller: true,
                    customBars: true,
                    labelsDiv: document.getElementById('DummyLegend'),
                    labels: ["date", {% for station in stations %}"{{ station.name }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    //colors: []
                    showRangeSelector: true,
                    highlightCallback: drawLegend
                }
        )
    </script>
{% endblock scripts %}