{% extends 'base.html' %}

{% block title %}
    NOAA Data Comparing {% for station in stations %}{{ station.name }}{% if not loop.last %} to {% endif %}{% endfor %}
{% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
    <div class="content-wrap">
        <h1 class="section-title">Comparing {% for station in stations %}{{ station.name }}{% if not loop.last %} and {% endif %}{% endfor %}</h1>


        {% include 'includes/chart.html' %}
        {% include 'includes/advertisement.html' %}

        {% for station in stations %}
            {% include 'includes/station-data.html' %}
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        var graph = new Dygraph(
                document.getElementById("Weather"),
                "{{ 'weather-compare-csv'|url(stations[0].id, stations[1].id) }}",
                {
                    rollPeriod: 1,
                    showRoller: true,
                    customBars: true,
                    labelsDiv: document.getElementById('DummyLegend'),
                    labels: ["date", {% for station in stations %}"{{ station.name }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    //colors: []
                    showRangeSelector: true,
                    highlightCallback: drawLegend
                }
        )
    </script>
{% endblock scripts %}