{% extends 'base.html' %}

{% block title %}
    NOAA Weather Station Data
{% endblock title %}

{% block style %}
<style>
    #map-canvas {width: 800px; height: 700px;}
</style>
{% endblock style %}

{% block content %}
    <div class="content-wrap">
        <div id="map-canvas"></div>
        <ul>
            {% for station in stations %}
            <li><a href="/{{ station.id }}/">{{ station.state }} - {{ station.callsign }} - {{ station.name }} - {{ station.location }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFbpJc0RjsSyQ9Mucdio3PvK-4w-SK8j0&sensor=false"></script>
    <script>
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(40.0354, -95.5409),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);

            var marker;
            {% for station in stations %}
            marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ station.latitude }}, {{ station.longitude }}),
                map: map,
                title: '{{ station.name|escapejs }}-{{ station.location|escapejs }}'
            });
               google.maps.event.addListener(marker, 'click', function(){
                   window.location.href = "{{ "weather"|url(station.id) }}"
               });
            {% endfor %}
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock scripts %}