{% extends 'base.html' %}
{% load cache %}


{% block title %}
    NOAA Weather Station Data
{% endblock title %}

{% block style %}

{% endblock style %}

{% block instructions %}
    Choose a weather station from the map to the right to get started.
{% endblock instructions %}

{% block content %}
    <div class="content-wrap">
        <div id="map-canvas" class="map-stations"></div>
        <ul>
            {% cache 60*60*24 'stations-html' %}
                {% for station in stations %}
                <li><a href="{{ "weather"|url(station.id) }}">{{ station.state }} - {{ station.callsign }} - {{ station.name }} - {{ station.location }}</a></li>
                {% endfor %}
            {% endcache %}
        </ul>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        {% include 'includes/stations.js' %}

        function initialize(stations) {
            var i,
                marker,
                c_stations = stations.length,
                mapOptions = {
                    center: new google.maps.LatLng(49.001844,-111.2146),
                    zoom: 3,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                },
                map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            for (i=0; i < c_stations; i ++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(stations[i].latitude, stations[i].longitude),
                    map: map,
                    title: stations[i].id + ' - ' + stations[i].name + ' - ' + stations[i].location
                });

                google.maps.event.addListener(marker, 'click', function(url, id){
                    var target = url;
                    target = target.replace('987654', id);
                    return function(){
                        window.location.href = target;
                    }
                }(stations[i].url, stations[i].id));
            }
        }

        google.maps.event.addDomListener(window, 'load', function(){
            initialize(stations);
        });
    </script>
{% endblock scripts %}