{% extends 'base.html' %}

{% block title %}
    NOAA Data for {{ station.name }}
{% endblock title %}
{% block style %}
{% endblock style %}

{% block instructions %}
    You're looking at historical weather data from {{ station.location }}
    in {{ station.name }}{% if station.state %}, {{ station.state }}{% endif %}.
{% endblock instructions %}

{% block content %}
    <div class="content-wrap">
        <h1 class="section-title">Temperature Data for {{ station.location }}</h1>

        {% include 'includes/chart.html' %}
        {% include 'includes/advertisement.html' %}

        <div class="extended-info">
            <div class="station-data column five">
                <h3>Station Data:</h3>
                {% include 'includes/station-data.html' %}
                {% include 'includes/station-seasons.html' %}

            </div>
            <div class="compare column seven">
                <h3>Compare this weather station to another:</h3>
                <div id="map-canvas" class="map-compare"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        var graph = new Dygraph(
            document.getElementById("Weather"),
            "{{ 'weather-csv'|url(station.id) }}",
            {
                rollPeriod: 7,
                showRoller: true,
                customBars: true,
                legend: 'always',
                labelsDiv: document.getElementById('DummyLegend'),
                labels: ["date", "{{ station.name }}"],
                colors: ['#00CC00'],
                showRangeSelector: true,
                highlightCallback: drawLegend
            }
        )
    </script>

    <script>
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng({{ station.latitude }}, {{ station.longitude }}),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);

            var marker;
        {% for alt_station in stations %}
            marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ alt_station.latitude }}, {{ alt_station.longitude }}),
                map: map,
                title: '{{ alt_station.id }} - {{ alt_station.name|escapejs }}-{{ alt_station.location|escapejs }}'
            });
            google.maps.event.addListener(marker, 'click', function(){
                window.location.href = "{{ "weather-compare"|url(station.id, alt_station.id) }}"
            });
        {% endfor %}
        //TODO:  Test This!!
            marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ station.latitude }}, {{ station.longitude }}),
                map: map,
                title: '{{ station.id }} - {{ station.name|escapejs }}-{{ station.location|escapejs }}',
                icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'
            })
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock scripts %}